:root {
  --rich-black: #042a2bff;
  --maximum-blue: #5eb1bfff;
  --light-cyan: #cdedf6ff;
  --mandarin: #ef7b45ff;
  --fire-engine-red: #c22229ff;
}

@font-face {
  font-family: AvenirNextRegular;
  src: url('./assets/AvenirNext-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'AvenirNextRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--rich-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#header-border {
  display: block;
  padding: 2px 0;
  background: linear-gradient(to left, #042a2bff 0%, #5eb1bfff 15%, #cdedf6ff 50%, #ef7b45ff 75%, #c22229ff 100%);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  width: 30%;
}

.logo-wrapper h1 {
  font-size: 20px;
  color: var(--fire-engine-red)
}

#navigation {
  display: flex;
  align-content: center;
}

#navigation a {
  text-decoration: none;
  padding: 1rem 0.5rem;
  color: var(--fire-engine-red);
}


#navigation a:hover {
  color: var(--rich-black);
}

#logo {
  width: 15%;
  height: auto;
}

#adminMenu {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--maximum-blue);
}

#adminMenu p {
  margin: 0;
  font-weight: 900;
  color: white;
}

#adminMenu a {
  text-decoration: none;
  padding: 1rem 0.5rem;
  color: white;
}

#adminMenu a:hover {
  color: var(--light-cyan)
}

.actions a {
  text-decoration: none;
  color: var(--maximum-blue);
}

.logo-links {
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 3rem 0 1rem 0;
}

.logo-links img {
  max-height: 50%;
  padding: 0 3rem;
}

.post {
  white-space: pre-wrap;
}
